
<div class="comment" id="comment-<%=comment._id%>">
    <p>
        <% if (locals.user && locals.user.id == comment.user.id){ %>
          <div id="delete-comment" >
            <small>
                <a href="/comments/destroy/<%= comment.id %>" class="delete-comment-button">Delete Comment</a>
            </small>
          </div>
            <% } %>

       <b> <%=comment.content%></b>
        <br><small>
            <p>Commented by : <%=comment.user.name%> (<%=comment.user.email%>)</p>
            
        </small>

        <small>
          <% if(locals.user){ %>
            <!-- if user log in it will show me likes count with link to like of dislike  -->
          <button> <a   class="toogle-like-button" data-likes="<%=comment.likes.length%>"  href="/likes/toogle/?id=<%=comment._id%>&type=Comment">
            <%=comment.likes.length%> Likes 
         </a></button>
            <%} else{%>
              <!-- //If user sign out it will just show me the no. of likes  -->
              <%=post.likes.length%> Likes
              <%}%>
          
          </small>
            
    </p>
</div>