<link rel="stylesheet" href="/css/post.css" />

<div class="post" id="post-<%=post._id%>">
  <!-- if user is sign in && and the user which is sign in == user who created the post  -->
  <% if (locals.user && locals.user.id == post.user.id){ %>
  <div id="delete-post">
    <small>
      <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"
        >Delete Post</a
      >
    </small>
  </div>
  <% } %>
  <div id="creater">
    <b><p><%=post.user.name%></p></b>
  </div>
  <div id="content"><p><%=post.content%></p></div>

    <div class="post-comments">
        <% if (locals.user){ %>
            <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
            <form id="post-<%=post._id%>-c" action="/comments/create" method="post">
                <input type="text" name="content" placeholder="Type Here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>" >
                <%=post._id%>
                <button type="submit"> Add comment</button>
            </form>

        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for (comment of post.comments){%>

                    <%- include('_comment') -%>
                    
                
                <%} %>
            </ul>
        </div>
    </div>
</div>
